*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
    outline: none;
}

.field{
    
}

.fieldRow{
    display: flex;
}

.cell{
    width: 20px;
    height: 20px;
    border: solid 1px black;
}