*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
    outline: none;
}

.field {
    border: solid 1px red;
    display: inline-block;
}

.fieldRow {
    display: flex;
}

.cell {
    width: 10px;
    height: 10px;
    /*    border: solid 1px black;*/
}


.food{
    background: blue;
}

.snake {
    background: green;
}

