*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
    outline: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.field {
    border: solid 5px blue;
    display: inline-block;
}

.fieldRow {
    display: flex;
}

.cell {
    width: 10px;
    height: 10px;
    /*    border: solid 1px black;*/
}


.food {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/1.svg);
/*    background: blue;*/
}


.snake {
    background: green;
    border-radius: 30%;
}
.score{
    margin: 20px;
}